{% extends "base.html"%}

    {% block content %}



    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Javaid Bashir :: Web developer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    <!--  Request me for a signup form or any type of help  -->
    <div class="login-form">    
        <form  method="post">
            {%  csrf_token %}
            {% if messages %}
                
                {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
            <h4 class="modal-title">SignUp</h4>
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email" required="required">
            </div>            
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required="required">
            </div>      
            <select class="form-select" aria-label="Default select example">
                <option selected>Register as</option>
                <option value="1">Patient</option>
                <option value="2">Hospital</option>
                <option value="3">Pharmacy</option>
                <option value="4">Professional</option>
            </select>
            <button type="submit" class="btn btn-primary btn-block mt-2">Sign up</button>
            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">              
        </form>			
        <div class="text-center small">Don't have an account? <a href="{%url 'login_attempt'%}">Login</a></div>
    </div>
    </body>
    </html>
    

    {% endblock %}


    